<!-- data.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Data</title>
    <link rel="stylesheet" href="../static/index.css">
  </head>
  <body>
    <h1>Data</h1>
    <ul>
      {% for item in form_data %}
        <li>
          Name: {{ item.name }},<br> 
          Email: {{ item.email }}, <br>
          Música favorita: {{ item.musica_favorita }},<br> 
          Cantor: {{ item.cantor }}, <br>
          Lançamento: {{ item.lancamento }}
        </li>
      {% endfor %}
    </ul>
  </body>
</html>